<%= render "shared/header" %>
<div class="main">

  <div class="title-contents">
    <h2 class="service-title">
      MonoLog
    </h2>
    <p class='service-explain'>
      家の忘れそうな物を登録して
    </p>
    <p class='service-explain'>
      管理できるアプリです
    </p>
  </div>

  <div class="property-contents">
    <h2 class="title">家にあるもの一覧</h2>
    <ul class="property-lists">

      <li class="list">
      <%= link_to "#" do %>
        <div class="property-img-content">
        </div>
        <div class="property-info">
          <h3 class="property-name">
            <%= "家のもの" %>
          </h3>
          <div class="property-frequency">
            <%= "使用頻度" %>
          </div>
        </div>
      <% end %>
      </li>
      <%# <ダミー> %>
      <li class='list'>
        <%= link_to '#' do %>
        <%= image_tag "property-sample.png", class: "property-img" %>
        <div class="property-info">
          <h3 class="property-name">
            ものを登録してください
          </h3>
          <div class="property-frequency">
            良く使用する
          </div>
        </div>
        <% end %>
      </li>
      <%# <ダミー> %>
    </ul>
  </div>
</div>
<%= render "shared/footer" %>