<%= render "shared/header" %>
<div class="main">

  <div class="title-contents">
    <h2 class="service-title">
      MonoLog
    </h2>
    <p class='service-explain'>
      家の忘れそうな物を登録して
    </p>
    <p class='service-explain'>
      管理できるアプリです
    </p>
  </div>

  <div class="property-contents">
    <h2 class="title">家にあるもの一覧</h2>
    <ul class="property-lists">
      <% if user_signed_in? %>
      <% @properties.each do |property| %>
        <li class="list">
          <%= link_to property_path(property.id) do %>
            <div class="property-img-content">
              <%= image_tag property.image %><br>
            </div>
            <div class="property-info">
              <h3 class="property-name">
                <%= property.name %>
              </h3>
              <div class="property-storage">
                <%= property.storage %>
              </div>
            </div>
          <% end %>
        </li>
      <% end %>
      <% end %>
      <% if user_signed_in? %>
      <% if @properties.length == 0 %>
        <li class='list'>
          <%= image_tag "property-sample.png", class: "property-img" %>
          <div class="property-info">
            <h3 class="property-name">
              ものを登録してください
            </h3>
            <div class="property-storage">
              洗面台
            </div>
          </div>
        </li>
      <% end %>
      <% else %>
        <li class='list'>
          <%= image_tag "property-sample.png", class: "property-img" %>
          <div class="property-info">
            <h3 class="property-name">
              ものを登録してください
            </h3>
            <div class="property-storage">
              洗面台
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<%= render "shared/footer" %>