<div class="properties-register-contents">
<%= render "shared/second-header" %>
  <div class="properties-register-main">
    <h2 class="properties-register-title">
     家の物の情報を登録する
    </h2>
    <div class="img-upload">
     <div class="bold-text">
       家の物の画像
       <span class="essential">必須</span>
      </div>
      <div class="click-upload">
      <p>
        クリックしてファイルをアップロード
      </p>
      <%= file_field :hoge, id:"property-image" %>
    </div>
    <div class="new-properties">
      <div class="bold-text">
        家の物の名前
        <span class="essential">必須</span>
      </div>
      <%= text_area :hoge, class:"properties-text", id:"property-name", placeholder:"家の物の名前（必須 40文字まで)", maxlength:"40" %>
      <div class="properties-explain">
        <div class="bold-text">
          家の物の説明
          <span class="essential">必須</span>
        </div>
        <%= text_area :hoge, class:"properties-text", id:"property-info", placeholder:"家の物の説明（必須 1,000文字まで）例）毎日歯を磨く時に使用する。" ,rows:"7" ,maxlength:"1000" %>
      </div>
      <div class="form">
        <div class="bold-text">
          使用頻度
          <span class="essential">必須</span>
        </div>
      </div>
      <div class="properties-place">
        <div class="bold-text">
          保管場所
          <span class="essential">必須</span>
        </div>
        <%= text_area :hoge, class:"properties-text", id:"property-storage", placeholder:"家の物の保管場所（必須 40文字まで)", maxlength:"40" %>
      </div>

      <div class="register-btn-contents">
        <%= f.submit "出品する" ,class:"register-btn" %>
        <%=link_to 'もどる', root_path, class:"back-btn" %>
      </div>
    </div>
  <%= render "shared/footer" %>
</div>