<header class="top-page-header">
  <div class='search-bar-contents'>
     <%= search_form_for Property.ransack(params[:q]), url: search_properties_path, html: {class: "search-form"} do |f| %>
      <%= f.text_field :name, placeholder: '物の名前から探す', class: 'input-box' %>
      <br>
      <%= f.label :submit, class: "search-button" do %>
        <%= image_tag "search.png", class:"search-icon" %>
        <%= f.submit :submit, id: "q_submit", style: "display: none;"%>
      <% end %>
    <% end %>
  </div>
  <div class='nav'>
    <ul class='lists-left'>
      <li><%= link_to 'ものを検索する', search_properties_path, class: "search-register" %></li>
      <li><%= link_to 'ものを登録する', new_property_path, class: "register" %></li>
    </ul>
    <ul class='lists-right'>
      <% if user_signed_in? %>
        <li><%= link_to current_user.nickname, edit_user_path(current_user), class: "user-nickname" %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
    </ul>
  </div>
</header>